$primary: #2f55d4;

.key-features {
  padding: 100px 0;
  position: relative;
}

h2 {
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 600;
}

p {
  font-size: 16px;
}

.highlight__text {
  color: $primary;
  font-weight: bold;
}

.card {
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
  transition: all 0.3s ease;
}

.service__icon {
    height: 65px;
    width: 65px;
    line-height: 65px;
    background-color: rgba(47,85,212,0.1);
    border-radius: 6px;
    color: $primary;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.car__title {
    color: #3c4858;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;

    &:hover {
      text-decoration: none;
    }
}

.card__text {
  font-size: 15px;
  line-height: 24.6px;
}

.custom__link {
  font-weight: 600;
  
  &:hover {
      text-decoration: none;
    }
}