
$font-family: 'Nunito', sans-serif;
$navigation: #3c4858;
$primary: #2f55d4;
$text: #8492a6;
$hover: #2443ac;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Nunito:wght@300;400;600;700&display=swap');

body {
  font-family: $font-family;
}

.main-nav {
  background-color: #fff;
  box-shadow: rgba(60, 72, 88, 0.15) 0px 0px 3px 0px;
}

.navbar {
  padding: 1rem;
}

.row-header {
  width: 100%;
}

.logo-img {
  max-width: 134px;
}

.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-col {
  display: flex;
  align-content: center;
}
.navbar-collapse a {
  color: $navigation;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.dropdown a.dropdown-toggle:hover {
  border-color: $navigation;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: 0.255em;
    content: "";
    // background-color: rgb(197, 197, 197);
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-top: none;
    border-left: none;
    border-color: $navigation;
    transform: rotate(45deg);
}

.custom-dropdown a.dr-link {
  font-size: 11px;

  &:hover {
    background-color: #fff;
    color: $primary;
  }
}

.nav-utils {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .search {
    display: flex;
    align-items: center;
    margin-right: 13px;

    .search-ico {
      color: $text;
      font-size: 18px;
      cursor: pointer;
    }
  }

  .icons {
    display: flex;

    .btn-ico {
      color: $primary;
      font-size: 20px;
      background-color: rgba(47, 86, 212, .10);
      border-radius: 6px;
      box-shadow: rgba(47, 85, 212, 0.3) 0px 3px 5px 0px;
      position: relative;
      width: 36px;
      height: 36px;
      text-align: center;
      margin: 0 5px 0 5px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: $primary;
        color: #fff;
      }
    }
  }
}